ACCESS_TOKEN=abc123
DEVICE_ID=xyz321
EVENT_NAME=button_status
PUSHOVER_TOKEN=abababa
PUSHOVER_USER_KEY=cacacaca
SLACK_WEBHOOL_URL=https://hooks.slack.com/services/blah/blah/blah
SLACK_CHANNEL_ID=#bot-testing
SLACK_USERNAME=internet button
SLACK_ICON_EMOJI=:radio_button:
